pdfplumber
python-docx
Flask
torch 
transformers
scikit-learn
sentence-transformers
nltk
streamlit
langchain
langchain_groq
python-dotenv
setuptools>=42
spacy
pydantic==1.10.7
#thinc==8.1.10
en_core_web_sm
