pdfplumber
python-docx
Flask
torch 
transformers
scikit-learn
sentence-transformers
nltk
streamlit
langchain
langchain_groq
python-dotenv
setuptools>=42
spacy
pydantic==1.10.7
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
#python -m spacy download en_core_web_sm
